UserInterfaceState.xcuserstate
build
*.pbxuser
*.perspectivev3
*.mode1v3
*~
*~.nib
*~.xib 
.DS_Store 
xcuserdata/
tuntap/src/*.o
tuntap/src/*/*.o
tuntap/src/tap/tap
tuntap/src/tun/tun
tuntap/tap.kext
tuntap/tun.kext
tuntap/tuntap_*.pkg/
tuntap/tuntap_*.tar.gz
